<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/index.css">
    <link rel="stylesheet" href="/static/CSS/+result.css">
</head>

<body>
    <HEADER>
        <header class="header">
            <a href="index.html" class="logo">Heart Attack Monitoring System</a>
            <!-- add pulse image under the logo for better view just for your curiosity - kunal  
        <img src="" alt=""> -->
            <nav class="nav-items">
                <a href="/">Home</a>
                <a href="/form">Form</form></a>
                <a href="/about-us">About Us</a>
        </HEADER>
        <div class="text">

            <pre><h1> Congratulations your heart is in a great condition</h1></pre>
        </div>
        <div class="box1" id="box1">
            <pre><img src= "https://c.tenor.com/hI-oOVvwasYAAAAC/happy.gif"></pre>
        </div>
        <footer class="footer">
            <div class="copy">&copy; Strombreaker2022</div>
            <div class="bottom-links">
                <div class="links">
                    <span>More Info</span>
                    <a href="/">Home</a>
                    <a href="/form">About</a>
                    <a href="/about-us">Contact</a>
                </div>
            </div>

        </footer>
</body>

</html>