<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/CSS/about_us.css">
</head>
<body>
<HEADER>
  <header class="header">
    <a href="#" class="logo">Heart Attack Monitoring System</a>
    <nav class="nav-items">
      <a href="/">Home</a>
      <a href="/form">Form</a>
      <a href="/about-us">About Us</a>
    </nav>
  </HEADER>
</headeR>
<div class="about-section">
  <h1>About Us Page</h1>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/static/images/harsh.jpeg" alt="Harsh Jaiwal" style="width:100%">
      <div class="container">
        <h2>Harsh Jaiswal</h2>
        <p class="title">Backend development</p>
        <pre> BE.EXTC
 KJSIEIT, Sion</pre>
        <a href="https://www.linkedin.com/in/hmj10/">
            <p><button class="button">Contact</button></p></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/static/images/suraj.jpg" alt="Suraj Mishra" style="width:100%">
      <div class="container">
        <h2>Suraj Mishra</h2>
        <p class="title">Frontend development</p>
          <pre> BE.EXTC
 KJSIEIT, Sion</pre>
          <a href="https://www.linkedin.com/in/suraj-mishra-7a305a248/">
        <p><button class="button">Contact</button></p></a>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img class ="img-kunal" src="/static/images/kunal.jpeg" alt="Kunal Mohite" style="width:100%">
      <div class="container">
        <h2>Kunal Mohite</h2>
        <p class="title">Frontend development</p>
          <pre> BE.EXTC
 KJSIEIT, Sion</pre>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="column">
    <div class="card">
      <img src="/static/images/qainat.jpg" alt="SQA" style="width:100%">
      <div class="container">
        <h2>Qainat Ahmed Shaikh</h2>
        <p class="title">Researcher</p>
          <pre> BE.EXTC
 KJSIEIT, Sion</pre>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
