<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple HTML HomePage</title>
  <link rel="stylesheet" href="/static/CSS/index.css">
  
</head>

<body>
  <HEADER>
  <header class="header">
    <a href="#" class="logo">Heart Attack Monitoring System</a>
    <nav class="nav-items">
      <a href="/">Home</a>
      <a href="/form">Form</a>
      <a href="/about-us">About Us</a>
    </nav>
  </HEADER>
  </headeR>
  <main>
    <div class="intro">
      <h1>HEART ATTACK MONITORING SYSTEM</h1>
      <b></b>
      <a href="/form">
        <button>CHECK YOUR HEART CONDITION NOW!!!</button>
      </a>
    </div>
    <div class="achievements">
      <div class="general">

        <p>
          <a href="/"></a>
          <button class="btn"> Genral Overview</button>
        </p>

      </div>
      <div class="heart">

        <p>
          <a href="/form"></a>
          <button class="btn2">Know Your Heart</button>
        </p>

      </div>
      <div class="remedies">

        <p>
          <a href="https://www.healthline.com/health/heart-health/how-to-improve-heart-health-quickly">
            <button class="btn3">Ways to keep your Heart Healthy</button>
          </a>
        </p>

      </div>
    </div>
    <div class="about-project">
      <div class="about-project-text">
        <h2>Heart Attack/Disease Prediction</h2>
        <pre>
            <b>Team :</b> StormBreaker

            <b>Team No :</b> 50

            <b>Competition :</b> IBM zDatathon

            <b>Team Members :</b> Harsh Jaiswal, Suraj Mishra, Kunal Mohite, Qainat Sheikh

            <b>Overview:</b>
            This program helps the people to find out if they are prone to any heart disease.
            The input of the application is quite basic which is usually available to everyone
            who has concerns over their health or if they have just performed a routine body test.
            This application using a form to collect such basic infomration via a website form
            and shows the client their results immedieatly.

            <b>Method:</b>
            Input: Age, Gender, Height, Weight, Blood pressure, Cholesterol Level, Glucose Level,
            Smoking, Alcohol Consumption

            <b>ALgorithms Used:</b>
            Random Forest Classification, Decission Tree, KneighbourClassfier, SGDClassifier,
            Linear Regression, Logistic Regression, XGBClassifier

            <b>Use cases:</b>

            Personal Heart Condition Monitoring.
            Can be used by General Physician to give basic advice to the patient.
            Can be used by Hospitals and Diagnostic Centers.
        </pre>
        <br>
      </div>
      <img src="https://media1.giphy.com/media/f7GXfUvpLXNTyDnMS2/giphy.gif" alt="me" height="50px" width="500px">
    </div>
    <footer class="footer">
      <div class="copy">&copy; Strombreaker2022</div>
      <div class="bottom-links">
        <div class="links">
          <span>More Info</span>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </div>

    </footer>
  </main>
</body>